[Desktop Entry]
Name=Lock Screen
Comment=Lock the screen
Exec=swaylock -f -c 000000
Icon=system-lock-screen
Terminal=false
Type=Application
Categories=System;
