[Desktop Entry]
Name=Visual Studio Code [C++]
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=guix shell node gcc-toolchain clang ccache cmake cppcheck openssl -- sh -c "CC=gcc OPENSSL_DIR=$(dirname $(dirname $(realpath $(which openssl)))) code --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland"
Icon=vscode
Type=Application
StartupNotify=true
StartupWMClass=Code
Categories=TextEditor;Development;IDE;
Actions=new-empty-window;
Keywords=vscode;

